#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 10px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}
